<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSSTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
		<section name="RSSFeedConfiguration" type="RSSTray.RSSFeedConfiguration, RSSTray"/>
	</configSections>

	<RSSFeedConfiguration To="support@nnish.com" From="sales@nnish.com">
		<RSSFeeds>
			<Feed feedName="BBC test 1" feedURL="http://newsrss.bbc.co.uk/rss/newsonline_uk_edition/world/americas/rss.xml" refresh="60"/>
			<Feed feedName="BBC test 2" feedURL="http://www.bbc.co.uk/home/features/d/snippet.xml" refresh="60"/>
			<Feed feedName="BBC test 3" feedURL="http://newsrss.bbc.co.uk/rss/newsonline_uk_edition/uk_politics/rss.xml"  refresh="60"/>
		</RSSFeeds>
	</RSSFeedConfiguration>

	
    <userSettings>
        <RSSTray.Properties.Settings>
            <setting name="Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>300</value>
            </setting>
        </RSSTray.Properties.Settings>
    </userSettings>
</configuration>